.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 1rem 1rem;
  margin: 0 auto;
  max-width: 70rem;
}
.hero h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.25;
  letter-spacing: -0.015em;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.125rem;
}
.hero a {
  margin-top: 2rem;
}
.hero .textdiv {
  text-align: center;
}
.hero .imgdiv {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 25rem;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 2rem 2rem 1rem;
  }
  .hero .textdiv {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 35rem;
  }
}
